* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242,100,42);
    background-image: url('img/back_page.png');
}

header {
    width: 100%;
    height: 50px;
}

.content {
    width: 100%;
    margin: auto;
}

#boxes {
    width: 100%;
    text-align: center;
}

#boxes .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    margin: 50px;
    width: 450px;
    height: 450px;
}

.box img {
    width: 350px;
    height: 400px;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
    cursor: pointer;

}

.box img:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(8px 8px 8px black);
    filter: drop-shadow(8px 8px 8px black);
    transition: all .5s;
}

footer {
    width: 100%;
    height: 30px;
    font-size: 12px;
}

footer .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}