html{
    width: 1340px;
    max-width: 1340px;
    height: 1200px;
    max-height: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url('images/back_wall.jpeg');
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#global{
    background-image: url('images/glare_wall.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#header{
    width: 100%;
    height: 32.5%;
    margin-left: auto;
    margin-right: auto;
}
#header div{
    float: left;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    width: 49%;
    height: 69%;
    display: inline-block;
}
#logo img{
    width: 40%;
    margin-left: 43%;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}
#title{
    width: 49%;
    display: inline-block;
}
#title p{
    font-size: 350%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -12%;
    top: 1%;
    color: rgb(242,101,36);
    text-shadow: 2px 2px 2px black;
}
#subtitle{
    width: 49%;
}
#subtitle p{
    font-size: 120%;
    margin-left: -12%;
    margin-top: -5%;    
}
#menu{
    margin-top: 4%;
}
#menu ul{
    list-style-type: none;
    width: 100%;
    margin-left: 14.7%;
}
#menu ul li{
    float: left;
}
#menu ul li a{
    display: block;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 34px;
    text-decoration: none;
    background: rgb(242,101,36);
    box-shadow: 2px 2px 2px rgb(242,81,36);
}
#menu ul li a:hover{
    color: rgb(242, 160, 100);
    background: rgba(0, 0, 0, .8);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    transition: all .5s;
}
#menu ul li #active{
    background: black;
    box-shadow: 2px 2px 2px black;
}
#main{
    width: 90%;
    height: 55.5%;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    width: 100%;
    background: rgb(242,101,36);
    height: 11%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
#footer div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
#footer div #info{
    text-align: center;
    color: white;
}
#footer div #info a{
    color: white;
    text-decoration: none;
}
#footer div p{
    text-align: center;
}
#footer #social{
    margin-left: 47%; 
}
/*----------------------------------CSS ADICIONAL ---------------------------------------------------- */

