html{
    width: 1340px;
    max-width: 1340px;
    height: 1200px;
    max-height: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url('images/back_wall.jpeg');
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#global{
    background-image: url('images/glare_wall.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#header{
    width: 100%;
    height: 32.5%;
    margin-left: auto;
    margin-right: auto;
}
#header div{
    float: left;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    width: 49%;
    height: 69%;
    display: inline-block;
}
#logo img{
    width: 40%;
    margin-left: 38%;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}
#title{
    width: 49%;
    display: inline-block;
}
#title p{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -17%;
    margin-top: 12%;
    color: rgb(242,101,36);
    text-shadow: 2px 2px 2px black;
}
#subtitle{
    width: 49%;
}
#subtitle p{
    font-size: 120%;
    margin-left: -17%;
    margin-top: -2%;    
}
#menu{
    margin-top: 4%;
}
#menu ul{
    list-style-type: none;
    width: 100%;
    margin-left: 14.7%;
}
#menu ul li{
    float: left;
}
#menu ul li a{
    display: block;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 34px;
    text-decoration: none;
    background: rgb(242,101,36);
    box-shadow: 2px 2px 2px rgb(242,81,36);
}
#menu ul li a:hover{
    color: rgb(242, 160, 100);
    background: rgba(0, 0, 0, .8);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    transition: all .5s;
}
#menu ul li #active{
    background: black;
    box-shadow: 2px 2px 2px black;
}
#main{
    width: 90%;
    height: 55.5%;
    margin-left: auto;
    margin-right: auto;
    background: url('images/transparent_logoc.png') center no-repeat;
    background-size: 50%;
}
#footer{
    width: 100%;
    background: rgb(242,101,36);
    height: 11%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
#footer div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
#footer div #info{
    text-align: center;
    color: white;
}
#footer div #info a{
    color: white;
    text-decoration: none;
}
#footer div p{
    text-align: center;
}
#footer #social{
    margin-left: 47%; 
}

#content{
    width: 80%;
    margin: auto;
}
.slider{
    width: 45%;
    margin: auto;
    overflow: hidden;
    float: left;
}
.slider:nth-child(2){
    margin-left: 10%;
}
.slider:nth-child(3){
    margin-left: 28%;
} 
.slider:nth-child(2) ul{
    width: 1100%;
    animation: scroll2 44s infinite;
} 
.slider h2{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.slider h2:hover{
    cursor: pointer;
    color: rgb(242,81,36);
    transition: all .5s;
}
.slider ul{
    display: flex;
    padding: 0%;
    width: 1500%;
    animation: scroll 60s infinite;
} 
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

@keyframes scroll{
    0%{margin-left: 0%;}
    6%{margin-left: 0%;}
    7%{margin-left: -100%;}
    13%{margin-left: -100%;}
    14%{margin-left: -200%;}
    20%{margin-left: -200%;}
    21%{margin-left: -300%;}
    27%{margin-left: -300%;}
    28%{margin-left: -400%;}
    33%{margin-left: -400%;}
    34%{margin-left: -500%;}
    40%{margin-left: -500%;}
    41%{margin-left: -600%;}
    46%{margin-left: -600%;}
    47%{margin-left: -700%;}
    53%{margin-left: -700%;}
    54%{margin-left: -800%;}
    59%{margin-left: -800%;}
    60%{margin-left: -900%;}
    65%{margin-left: -900%;}
    66%{margin-left: -1000%;}
    72%{margin-left: -1000%;}
    73%{margin-left: -1100%;}
    79%{margin-left: -1100%;}
    80%{margin-left: -1200%;}
    86%{margin-left: -1200%;}
    87%{margin-left: -1300%;}
    93%{margin-left: -1300%;}
    94%{margin-left: -1400%;}
    100%{margin-left: -1400%;}
}
@keyframes scroll2{
    0%{margin-left: 0%;}
    8%{margin-left: 0%;}
    9%{margin-left: -100%;}
    17%{margin-left: -100%;}
    18%{margin-left: -200%;}
    26%{margin-left: -200%;}
    27%{margin-left: -300%;}
    33%{margin-left: -300%;}
    34%{margin-left: -400%;}
    42%{margin-left: -400%;}
    43%{margin-left: -500%;}
    51%{margin-left: -500%;}
    52%{margin-left: -600%;}
    61%{margin-left: -600%;}
    62%{margin-left: -700%;}
    71%{margin-left: -700%;}
    72%{margin-left: -800%;}
    81%{margin-left: -800%;}
    82%{margin-left: -900%;}
    91%{margin-left: -900%;}
    92%{margin-left: -1000%;}
    100%{margin-left: -1000%;}
}

#float-bar {
    position: fixed;
    display: flex;
    right: 1%;
    top: 15%;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

#float-bar a{
    text-decoration: none;
    cursor: pointer;
}

#float-bar p{
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
}

#float-bar a:hover p{
    font-size: 22px;
    transition: all .5s;
}